html {
  height: 100%;
  width: 100%;
  font-family: arial;
  font-size: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.prewiev {
  width: 100%;
  height: 100px;
  margin: auto;
  text-align: center;
  border-top: 20px solid rgb(110, 129, 255);
  border-bottom: 4px solid rgb(110, 129, 255);
  background-color: white;
}
.prewiev > b {
  padding-bottom: 10px;
  display: block;
  user-select: none;
  height: max-content;
}
.progressContainer {
  margin: auto;
  background-color: #737373;
  width: 300px;
  height: 20px;
  overflow: hidden;
}
.progressBar {
  background-color: yellow;
  transition-property: width;
  height: 20px;
  width: 0%;
}

.settingContainer {
  width: 24%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
  border: 1px solid black;
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 2px;
  margin-left: 2%;
  user-select: none;
}
.setting1 {
  margin: auto;
  width: 100%;
  padding-top: 2%;
  padding-left: 10%;
}
.settingContainer::-webkit-scrollbar {
  width: 1px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}
.settingContainer::-webkit-scrollbar-thumb {
  border: 1px solid aqua;
  border-radius: 10px;
}
.css::-webkit-scrollbar {
  width: 1px;
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}
.css::-webkit-scrollbar-thumb {
  border: 1px solid aqua;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 1px;
  border-radius: 0;
}
body::-webkit-scrollbar-thumb {
  width: 1px;
  border: 1px solid aqua;
  border-radius: 0;
}
.inp {
  width: 70%;
}
.cont {
  width: 100%;
  height: 60%;
}
.code {
  width: 24%;
  height: 450px;
  border: 1px solid black;
  border-radius: 5px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: 2px;
  float: left;
  overflow: hidden;
  margin-top: 2px;
  background-color: rgb(0, 0, 0, 0.1);
}
.code > .languageTitle {
  background-color: rgb(0, 0, 0, 1);
  color: white;
  user-select: none;
}
.css {
  width: 100%;
  height: 100%;
  position: relative;
  word-wrap: break-word;
  margin: auto;
  overflow-y: scroll;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
::selection {
  background-color: black;
}
.Creator {
  position: fixed;
  width: 100%;
  height: 10px;
  top: 95%;
  text-align: center;
  user-select: none;
  background-color: transparent;
  z-index: 1;
}
.runButton {
  width: 80px;
}
@media only screen and (min-width: 1919px) {
  .Creator {
    font-size: 18px;
  }
  .cont {
    width: 70%;
    height: 60px;
    font-size: 28px;
  }
  .inp {
    width: 70%;
    height: 30px;
    font-size: 28px;
  }
  .css {
    font-size: 22px;
  }
  .languageTitle {
    height: 40px;
    font-size: 28px;
  }
  .copyOne {
    height: 38px;
    width: 80px;
    font-size: 18px;
  }
  .settingContainer {
    height: 600px;
  }
  .code {
    height: 600px;
  }
  .prewiev {
    font-size: 28px;
  }
  .runButton {
    width: 160px;
    height: 30px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 690px) {
  html {
    font-size: 150%;
  }
  .settingContainer {
    width: 45%;
    margin: 0;
    margin-top: 5px;
    margin-left: 2%;
    height: 650px;
  }
  .code {
    width: 45%;
    margin: 0;
    margin-top: 5px;
    margin-left: 2%;
    height: 650px;
  }
  .Creator {
    font-size: 10px;
  }
  .copyOne {
    height: 50px;
  }
}

/* Create by codingwithahmet 
//////0///////0////////////
////0000////0000///////////
//000***0000***000/////////
//00*****00*****00/////////
//000***0000***000/////////
//00-===-00-===-00/////////
//0000000000000000/////////
////0000////0000///////////
//////0///////0////////////
*/
